<div class="modal-header">
           
        <div class="buttonx"
            <a ng-click="ctrl.close()">  <i class="fa fa-times"></a></i>
        </div>

           <h3 class="modal-title">Your Cart. </h3>
       </div>
       <div class="modal-body">
           <ul>
               <li ng-repeat="item in ctrl.cart track by $index">
               <span>
                    <p>{{ item.name }} {{item.quantity}}</p></span>
               </li>
               
               <p>Subtotal: {{ctrl.cartTotal(ctrl.cart) | currency: USD$ }} </p>

               <p>Total: {{ctrl.cartTotal(ctrl.cart)*1.13 | currency: USD$ }}</p>
               
               <li><a ng-click="ctrl.checkOut()"> Checkout <i class="fa fa-credit-card"></i></li></a>


           </ul>
       </div>