<div class="orders1">
<table>
     <tr>
     <th> ORDERS:</th>


     <th> &nbsp;</th>

   </tr>
 

    <tr ng-repeat="order in ctrl.orders">
        <td>{{order.id}}</td>
        
        <td>
            <table>
            <tr ng-repeat="item in order.cart track by $index">
                <td> {{item.name}}</td>
                <td><strong>  Quantity: </strong> {{item.quantity}}
            </tr>
        </table>
        </td>

        <td><strong>TOTAL: </strong> {{order.final_total}}</td>

        <td> <a ng-click="ctrl.clearOrder()">Fulfill/Clear Order</a> </td>

    </tr>
    
</table>

</div>