<div class="orders1">
<table class="ordersBox">
	 <h1>Orders</h1>

	
	<tr ng-repeat="order in ctrl.orders">
		<td><strong>Order number: </strong>{{order.id}}</td>
		
		<td>
			<table>
			<tr ng-repeat="item in order.cart track by $index">
				<td><strong>Name: </strong>{{item.name}}</td>
				<td><strong>Quantity: </strong>{{item.quantity}}</td>
			</tr>
		</table>
		</td>

		<td><strong>TOTAL: </strong>{{order.final_total | currency}}</td>

		<td> <a ng-click="ctrl.clearOrder(order.id)">Fulfill/Clear Order</a> </td>
	</tr>


</table>

</div>