<div class="shop-container">


<!-- ///NAV BAR STARTS HERE/// -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">The Write Stuff</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">View Cart <i class="fa fa-shopping-cart"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="row">
  <form class="navbar-form navbar-left" role="search">
    <input type="text" class="form-control" placeholder="Search for an item">
    <button type="submit" class="btn btn-default">?</button>
  </form>
</div>


<!-- HEADER IMG STARTS HERE -->
  <div class="shop-header">
    <div class="row">
      <div class="col-xs-12">
          <div class="shop-banner">
          
        </div>
      </div>
    </div>
  </div>

<div class="logo">
<img src="assets/img/logo.png">
</div>






<!--//CATEGORY NAV//-->
 <hr>
  <ul class="category-nav">
    <li><a>ALL</a></li>
    <li><a>PLANNERS</a></li>
    <li><a>NOTEBOOKS</a></li>
    <li><a>PENS</a></li>  
    <li><a>PENCILS</a></li>
  </ul>






<!--//PRODUCTS START//-->
<section class="product-view">
  <div class="row">

      <div class="col-xs-4 col-md-4">
        <div class="product-img">
          <img src="assets/img/notebook1.jpg">
        </div>
        <div class="product-name">
          MINIBUS PATTERN LIVELY LINED NOTEBOOK<!--{{product name here}}-->
        </div>
         <div class="product-price">
          $5.00<!--{{product price here, apply currency filter}}-->
        </div>
      </div>


            
        </div>
</section>
 <hr>
<!--//PRODUCTS END//-->



<!--//FOOTER//-->
    <div class="row footer">
      <div class="col-xs-8">
        <div class="about-box">
          <h5>ABOUT</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
      </div>
    </div>
      <div class="col-xs-4">
        <div class="info-box">
          <div class="social">
            <a href="https://www.instagram.com/brainstation/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://www.facebook.com/brainstation" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/BrainStation" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/edu/school?id=164173&trk=tyah&trkInfo=idx%3A3-1-5%2CtarId%3A1423674489955%2Ctas%3Abrainstation" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>

        <br>
          me@brainstation.io<br>
          156-465-7915<br>
          460 King St W, Toronto, ON<br>
          M5V 1K7

        </div>
      </div>
    </div>
</div>
