/*LOGIN PAGE*/
body {
  background: url(../img/green_gobbler.png);
  font-family: 'Cabin', sans-serif;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
}

.main-box{
  position: fixed;
  top: 25%;
  left: 32%;
  width: 500px;
  height: 324px;
  border: 8px rgb(89,89,89) solid;
  padding: 49px;
  margin: 0px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79)";
  filter: alpha(opacity=79);
  -moz-opacity: 0.79;
  -khtml-opacity: 0.79;
  opacity: 0.79;
  background: rgb(248, 244, 244);
  -moz-box-shadow:  0px 0px 0px 14px rgb(232, 223, 223);
  -webkit-box-shadow:  0px 0px 0px 14px rgb(232, 223, 223);
  box-shadow:  0px 0px 0px 14px rgb(232, 223, 223);
  text-align: center;
}

.btn-md {
  background-color: white;
  color: grey;
  margin: 20px;


}
.btn-md:hover{
  background: grey;
}

/*LOGIN PAGE ENDS*/

/*ADMIN BEGINS*/


/*
.head1 {
background-color: black;
position: fixed;
width: 100%;
height: 56px;

}

.head1 h3 {
  text-align: right;
  font-family: 'Lobster', cursive; 
}*/

.nav-panel{
  position: fixed;
  float: left;
  background-color: white;
  width: 20%;
  height: 100%;
  /*top: 56px;*/
  
}
.nav-panel img {
  width: 200px;
  position: relative;
  top: 10px;
  left: 30px;
}

.nav-panel h3, ul {
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  list-style: none;
  padding: 20px;
}

.nav-panel li {
  padding: 15px;
  font-size: 20px;
}
.nav-panel a {
  padding: 10px;
  color: grey;
}

.main-content {
  position: fixed;
  top: 15%;
  left: 32%;
}

/*ADMIN ENDS*/

/*ADD PRODUCT BEGINS*/

.product-frm input {
  width: 400px;
  height: 30px;
}
.product-frm textarea {
  width: 400px;
  height: 150px;
}
.product-frm label {
  display: block;
}


/*ADD PRODUCT ENDS*/




