html{
  height:100%;
  margin:0;

}

.shop-container{
  max-width: 1200px;
  background: white;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  padding: 0 50px;
}

/* TOP NAVBAR*/
.navbar{
    margin: 0 auto;
}
.nav .ul{
  font-size: 8px;
}
.navbar img{
  width: 100px;
  outline-style: none;
  width: 90%
}
.navbar-default{
  background-color: white;
  border-style: none;
}
.navbar-brand{
  font-family: 'Lobster', cursive;
  font-size: 60px;
}

.nav-panel h3, ul {
  font-size: 15px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: #F8F8F8;
}
.navbar-brand{
  margin-top: 20px;
  font-size: 25px;
}



/*HEADER IMAGE*/

.shop-banner {
    background-image: url(../img/banner1.png);
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 50px;
}



/*CATEGORY NAV*/
.category-nav li{
  width: 19%;
  display: inline-block;
  text-align: center;
  font-size: 14px;

}
.category-nav li a{
  color: darkgrey;
}
.category-nav li a:hover{
    text-decoration: none;
    color: lightgrey;
}

/*LOGO*/
.logo {
  margin: 60px 0 30px 0;
  text-align: center;
}
.logo img{
  width: 200px;
}




/*PRODUCTS*/

.product-view{
  position: relative;
  margin: 80px 0 80px 0;
}
.product-img{
  width: 100%;
  border: 0.1px lightgrey solid;
}
.product-img img{
  width: 100%;
}
.product-name{
    margin-top: 10px;
    width: 50%;
}
.product-name h3{
  font-size: 14px;
}

.product-price{
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}



/*FOOTER*/
.footer{
  height: 200px;
  margin-bottom: 5px;
}

.about-box{
  padding-right: 20px;
}
.info-box{
  border-left: solid lightgrey 0.1px;
  padding-left: 50px;
  height: 150px;
}
.social i{
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
}


